<%= form_for store, remote:true , html: { multipart: true }  do |f| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label  '店名' %><br>
    <%= f.text_field :name ,class: "post"%>
  </div>

  <div class="field">
    <%= f.label '聯絡電話' %><br>
    <%= f.text_field :phone ,class: "post"%>
  </div>

  <div class="field">
    <%= f.label '地址' %><br>
    <%= f.text_field :address,class: "post" %>
  </div>

  <div class="field">
    <%= f.label '商品類別' %><br>
    <%= f.text_field :category,class: "post" %>
  </div>

  <div class="field">
    <%= f.label '評分' %><br>
    <div class="star-rating text-left post" data-score= <%= @store.rate %> ></div>
  </div>

  <div class="field">
    <%= f.label :img %><br>
    <%= f.file_field :img ,class: "post"%>
  </div>
<br><br>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "新增" ,class: "btn btn-primary"%>
      </div>

   

<% end %>




<script>
    $('.star-rating').raty({
      path: '/assets/',
      half  : true,
      size      : 32,
      scoreName: 'store[rate]',
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
