<p id="notice"><%= notice %></p>

<p>
  <strong>特色圖片:</strong></br>
  <%=image_tag @store.img.url(:medium) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @store.rate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @store.category %>
</p>





<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
