<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-7">
        <div class="img">
          <%= image_tag @store.img.url(:medium) %>
        </div>



        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>       
                 <div class="star-rating col-md-7 a" data-score= <%= @avg_review %> ></div>
                 <em><%= "#{@reviews.length} reviews" %></em>
                </td>
              </tr>
              <tr>
                <td><strong>店名:</strong></td>
                <td><%= @store.name %></td>
              </tr>
              <tr>
                <td><strong>聯絡方式:</strong></td>
                <td><%= @store.phone %></td>
              </tr>
              <tr>
                <td><strong>地址:</strong></td>
                <td><%= @store.address %></td>
              </tr>
              <tr>
                <td><strong>餐點類別:</strong></td>
                <td><%= @store.category %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @store.rate %></td>
              </tr>
            </tbody>
          </table>
          
        </div><!--table-responsive-->
      </div><!--col-md-8-->
      <div class="col-md-4 col-md-offset-1">
       <h1 class="review_title">評價 <%= @store.name %></h1>
       sdsds<br>
       <%= @a%>
       sdsdsd
        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              
              <p><%= review.rating %></p>
              <div class="star-rating" data-score= <%= review.rating %> ></div>

              <p>評價：<%= review.comment %></p>
              <p>建立時間：<%= review.created_at %></p>
            </div>
          <% end %>
        <% end %><br>
        <%= link_to "Write Review", new_store_review_path(@store), class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      half  : true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
