<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-7">

        <div class="img ">
          <%= image_tag @store.img.url(:medium) ,class:'img-rounded img-responsive' %>
        </div>
        <div class="avg_rate text-center">
            <p>綜合留言評價 <%= @store.avg_rating%></p>
            <div class="star-rating " data-score= <%= @avg_review %> > </div>
            <em><%= "#{@reviews.length} reviews" %></em>
        </div>



        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>店名:</strong></td>
                <td><%= @store.name %></td>
              </tr>
              <tr>
                <td><strong>聯絡方式:</strong></td>
                <td><%= @store.phone %></td>
              </tr>
              <tr>
                <td><strong>地址:</strong></td>
                <td><%= @store.address %></td>
              </tr>
              <tr>
                <td><strong>餐點類別:</strong></td>
                <td><%= @store.category %></td>
              </tr>
              <tr>
                <td><strong>編輯者評價:</strong></td>
                <td><div class="star-rating1 " data-score= <%= @store.rate %> ></div></td>
              </tr>

            </tbody>
          </table>
          <em>edit by  <%= User.find_by_id(@store.user_id).email%> .</em><br>

          <% if user_signed_in?%>




            <% if current_user==User.find_by_id(@store.user_id) %>
              <%= link_to '編輯', edit_store_path(@store), class: 'btn btn-info' %> 
              <%= link_to '刪除', @store,method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %> 
            <% end %>
          <% end %>




          <%= link_to '返回', stores_path , class: 'btn btn-default'%>


        </div><!--table-responsive-->
      </div><!--col-md-8-->
      <div class="col-md-4 col-md-offset-1">
       <h1 class="review_title">評價 <%= @store.name %></h1>
       sdsds<br>
       <%= @store.avg_rating%>
       sdsdsd
        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
          
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              
              <p>評論者：<%= User.find_by_id(review.user_id).email %></p>
              <div class="star-rating text-left" data-score= <%= review.rating %> ></div>

              <p>我覺得：<%= review.comment %></p>
              <p>建立時間：<%= review.created_at %></p>
            </div>
          <% end %>
        <% end %><br>
        <%= link_to "Write Review", new_store_review_path(@store), class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      half  : true,
      starHalf    : 'star-half-16.png',
      starOn :'star-on-16.png' ,
      starOff : 'star-off-16.png',

      score: function() {
            return $(this).attr('data-score');
    }
  });

    $('.star-rating1').raty({
      path: '/assets/',
      readOnly: true,
      half  : true,
      size:16,
      score: function() {
            return $(this).attr('data-score');
    }
  });

</script>
