


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (image_tag "/assets/medium/logo-f1841c339fef2536536a1d5c1fae8a530cf2cfd4ddcf335ccf279c82251f240a.png" ,class:' nav-logo navbar-brand nav-form',alt:"Brand"),root_path %>  
      
      <%= link_to '參熊吃貨評鑑' ,root_path,class:'navbar-brand' %> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
              <li><%= link_to "新增餐廳", new_store_path, class: "active" %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <form class="navbar-form navbar-left ">
    
          <div class="form-group">
            <input type="text" class="form-control " placeholder="搜尋...">
            
          
          <button type="submit" class="btn btn-default ">Submit</button>
          </div><br>
        
    



      


        <% if user_signed_in? %>
              

               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">歡迎 <%=current_user.email%> 登入 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <% if current_user.admin==true%>
                      <li class="admin "><%= link_to '後台管理', rails_admin_path %></li>
                    <% end %>
                    <li><%= link_to "修改個人資料", edit_user_registration_path %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to '登出', destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>




        <% else %>
              <p>                        
                <%= link_to "登入", new_user_session_path, class: "btn btn-default btn-navbar" %>

              <%= link_to "建立帳號", new_user_registration_path, class: " btn btn-primary btn-navbar " %></p>     
        <% end %>
        </form> 

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>