<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Eat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>

	<% if user_signed_in?%>
		Welcome ,歡迎使用者 <%=current_user.email %> 登入<br>
		
	<% end %>
  


  <div class="container-fluid">
   <%= render "common/navbar" %>
   <%= yield %>
  </div>
  <%= render "common/footer" %>

  </body>
</html>
